---
- name: Enable cgroup via cmdline.txt
  when: pi | default(false)
  block:
    - name: Find correct cmdline.txt path
      become: true
      ansible.builtin.find:
        paths:
          - /boot
        file_type: file
        patterns: 'cmdline.txt'
      register: cmdline_txt_path

    - name: Update cmdline.txt with cgroup settings
      become: true
      ansible.builtin.lineinfile:
        path: "{{ cmdline_txt_path.files[0].path }}"
        backrefs: true
        regexp: '^((?!.*\bcgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory\b).*)$'
        line: '\1 cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory'
      notify: Reboot pi

- name: Enable cgroup via grub
  become: true
  when: not (pi | default(false)) and ansible_distribution == 'Ubuntu'
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    backrefs: true
    regexp: 'GRUB_CMDLINE_LINUX="((?!.*\bcgroup_enable=memory cgroup_memory=1\b).*)"'
    line: 'GRUB_CMDLINE_LINUX="\1 cgroup_enable=memory cgroup_memory=1"'
  notify: update grub

- name: Disable swap
  become: true
  changed_when: false
  ansible.builtin.command: swapoff -a

- name: Create Chron for clearing cache
  when: ansible_hostname.endswith('vl')
  ansible.builtin.copy:
    dest: /etc/cron.d/clear-cache
    content: |
      # Clear pagecache, dentries and inodes every 15 minutes
      */15 * * * * root /usr/bin/sync; /bin/echo 3 > /proc/sys/vm/drop_caches
    owner: root
    group: root
    mode: '0644'

- name: Get k3s installed version
  ansible.builtin.command: k3s --version
  register: k3s_version_output
  changed_when: false
  ignore_errors: true

- name: Set k3s installed version
  when: k3s_version_output.rc == 0
  ansible.builtin.set_fact:
    installed_k3s_version: "{{ k3s_version_output.stdout_lines[0].split(' ')[2] }}"

- name: Download artifact only if needed
  when: k3s_version_output.rc != 0
  ansible.builtin.get_url:
    url: https://get.k3s.io/
    timeout: 120
    dest: /usr/local/bin/k3s-install.sh
    owner: root
    group: root
    mode: '0755'
