---
apiVersion: v1
kind: StorageClass
metadata:
  name: pihole-storage
  namespace: {{ pihole_namespace }}
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  numberOfReplicas: "3"
  staleReplicaTimeout: "30"
  dataLocality: "best-effort"
  replicaAutoBalanced: "best-effort"
  fromBackup: ""
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-etc-pihole
  namespace: {{ pihole_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: pihole-storage
  resources:
    requests:
      storage: "3Gi"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-etc-dnsmasq-d
  namespace: {{ pihole_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: pihole-storage
  resources:
    requests:
      storage: "3Gi"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-config
  namespace: {{ pihole_namespace }}
data:
  TZ: America/Los_Angeles
  VIRTUAL_HOST: "{{ dns.primary_pihole }}"
  PROXY_LOCATION: "pi.hole"
  FTL_CONF_LOCAL_IPV4: "127.0.0.1"
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-dns-tcp
  namespace: {{ pihole_namespace }}
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-dns"
    metallb.universe.tf/loadBalancerIPs: "{{ network.identifier }}.3.69"
spec:
  selector:
    app: pihole
    version: primary
  ports:
    - name: dns
      port: 53
      targetPort: 53
      protocol: TCP
  type: LoadBalancer
  externalTrafficPolicy: Local
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-dns-udp
  namespace: {{ pihole_namespace }}
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-dns"
    metallb.universe.tf/loadBalancerIPs: "{{ network.identifier }}.3.69"
spec:
  selector:
    app: pihole
    version: primary
  ports:
    - name: dns
      port: 53
      targetPort: 53
      protocol: UDP
  type: LoadBalancer
  externalTrafficPolicy: Local
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-http
  namespace: {{ pihole_namespace }}
spec:
  selector:
    app: pihole
    version: primary
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
    namespace: pihole
    versoin: primary
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    cert-manager.io/cluster-issuer: letsencrypt-prod
    cert-manager.io/duration: 2160h
    cert-manager.io/renew-before: 360h
spec:
  rules:
    - host: "{{ dns.primary_pihole }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pihole-http
                port:
                  number: 80
  tls:
    - hosts:
        - "{{ dns.primary_pihole }}"
      secretName: pihole-tls
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pihole
  namespace: {{ pihole_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      nodeSelector:
        kubernetes.io/role: worker
      strategy:
        type: Recreate
      containers:
        - name: pihole
          image: pihole/pihole:{{ version | default("latest") }}
          env:
            - name: WEBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pihole-secrets
                  key: WEBPASSWORD
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: pihole-config
                  key: TZ
            - name: VIRTUAL_HOST
              valueFrom:
                configMapKeyRef:
                  name: pihole-config
                  key: VIRTUAL_HOST
            - name: PROXY_LOCATION
              valueFrom:
                configMapKeyRef:
                  name: pihole-config
                  key: PROXY_LOCATION
            - name: FTL_CONF_LOCAL_IPV4
              valueFrom:
                configMapKeyRef:
                  name: pihole-config
                  key: FTL_CONF_LOCAL_IPV4
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
            - containerPort: 53
              name: dns-udp
              protocol: UDP
            - containerPort: 53
              name: dns-tcp
              protocol: TCP
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "2"
          volumeMounts:
            - name: pihole-etc-pihole
              mountPath: /etc/pihole
            - name: pihole-etc-dnsmasq-d
              mountPath: /etc/dnsmasq.d
      volumes:
        - name: pihole-etc-pihole
          persistentVolumeClaim:
            claimName: pihole-etc-pihole
        - name: pihole-etc-dnsmasq-d
          persistentVolumeClaim:
            claimName: pihole-etc-dnsmasq-d
---
apiVersion: v1
kind: CronJob
metadata:
  name: pihole-sync
  namespace: {{ pihole_namespace }}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        {{ sync_job_template }}