apiVersion: v1
{{ immediate | ternary('kind: Job', 'kind: CronJob') }}
metadata:
  name: pihole-sync
  namespace: "{{ pihole_namesapce }}"
spec:
{% if immediate %}
  template:
{% else %}
  schedule: "*/5 * * * *"
  jobTemplate:
{% endif %}
    spec:
      template:
        metadata:
          name: pihole-sync
          namespace: "{{ pihole_namespace }}"
        spec:
          nodeSelector:
            kubernetes.io/role: worker
          containers:
            - name: sync
              image: mattwebbio/orbital-sync:1
              env:
                - name: PRIMARY_HOST_BASE_URL
                  value: 'https://primary-http.{{ pihole_namespace }}.svc.cluster.local'
                - name: PRIMARY_HOST_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: pihole-secrets
                      key: WEBPASSWORD
                - name: SECONDARY_HOSTS_1_BASE_URL
                  value: 'http://secondary-http.{{ pihole_namespace }}.svc.cluster.local'
                - name: SECONDARY_HOSTS_1_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: pihole-secrets
                      key: WEBPASSWORD
                - name: RUN_ONCE
                  value: "true"
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                    - key: kubernetes.io/role
                      operator: In
                      values:
                        - worker
          resources:
            requests:
              memory: "128Mi"
              cpu: "10m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          tolerations:
            - key: node-role.kubernetes.io/master
              effect: NoSchedule
          {{ immediate | ternary('restartPolicy: Never', 'restartPolicy: OnFailure') }}