apiVersion: v1
kind: {{ immediate | ternary('Job', 'CronJob') }}
metadata:
  name: pihole-sync
  namespace: {{ pihole_namespace }}
spec:
{% if immediate %}
  template:
    {{ jop_template }}
{% else %}
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        {{ jop_template }}
{% endif %}
        