---
- name: Ubuntu - Helm prerequisites
  when: ansible_distribution == "Ubuntu"
  block:
    - name: Add Helm GPG Key
      ansible.builtin.apt_key:
        url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
        state: present
    - name: Add Helm APT Repository
      ansible.builtin.apt_repository:
        repo: deb https://packages.buildkite.com/helm-linux/helm-debian/any/ any main
        state: present
        update_cache: true

- name: Rocky Linux - Helm prerequisites
  when: ansible_distribution == "Rocky"
  block:
    - name: Add EPEL repository
      ansible.builtin.package:
        name: epel-release
        state: present

- name: Install Helm
  ansible.builtin.package:
    update_cache: true
    name: helm
    state: present

- name: Add users to 'k3s' group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: k3s
    append: true
    state: present
  with_items:
    - ansible
    - devops

- name: Add export for KUBECONFIG to .bashrc
  ansible.builtin.lineinfile:
    path: /home/{{ item }}/.bashrc
    line: "export KUBECONFIG={{ kube_config_path }}"
    state: present
  with_items:
    - ansible
    - devops

- name: Add alias for kubectl to .bashrc
  ansible.builtin.lineinfile:
    path: /home/{{ item }}/.bashrc
    line: "alias k=kubectl"
  with_items:
    - ansible
    - devops
