frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option httpchk GET /healthz
    http-check expect status 401
    balance leastconn
    default-server inter 10s downinter 5s
{% for manager in managers %}
    server {{ manager.name }} {{ manager.ip }}:{{ k3s_port }} check ssl verify none
{% endfor %}
