frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option tcplog
    option tcp-check
    balance leastconn
    default-server inter 10s downinter 5s
{% for manager in managers %}
    server {{ manager.name }} {{ manager.ip }}:{{ k3s_port }} check
{% endfor %}
