---
- name: Label nodes
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Node
      metadata:
        labels:
          kubernetes.io/role: "{{ item.role }}"
    name: "{{ item.node }}"
  with_items: "{{ role_labels | default([]) }}"

- name: Apply extra labels
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Node
      metadata:
        labels:
          "{{ item.labels }}"
    name: "{{ item.node }}"
  with_items: "{{ extra_labels | default([]) }}"

- name: Restrict kube-system pods to managers
  with_items:
    - coredns
    - local-path-provisioner
    - metrics-server
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: "{{ item }}"
        namespace: kube-system
      spec:
        template:
          spec:
            nodeSelector:
              node-role.kubernetes.io/control-plane: "true"

- name: Set coredns to forward to internal DNS servers
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: coredns
        namespace: kube-system
      spec:
        template:
          spec:
            dnsConfig:
              nameservers:
                - "{{ network.gateway }}"
                - '1.1.1.1'
                - '1.0.0.1'

- name: Set LimitRange for kube-system
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: LimitRange
      metadata:
        name: kube-system-limits
        namespace: kube-system
      spec:
        limits:
          - default:
              memory: 256Mi
              cpu: 250m
            defaultRequest:
              memory: 64Mi
              cpu: 50m
            type: Container
