---
- name: Add Longhorn Helm Repo
  kubernetes.core.helm_repository:
    name: longhorn
    url: https://charts.longhorn.io
    force_update: true
    state: present

- name: Create Longhorn Namespace
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ longhorn_namespace }}"
    state: present

- name: Create AWS S3 Backup Secret
  # no_log: true
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ cluster_name }}-longhorn-aws-secret"
        namespace: "{{ longhorn_namespace }}"
      stringData:
        AWS_ACCESS_KEY_ID: "{{ longhorn_akid }}"
        AWS_SECRET_ACCESS_KEY: "{{ longhorn_access_key }}"
        # HTTP_PROXY: "{{ internet_proxy }}"
        # HTTPS_PROXY: "{{ internet_proxy }}"
        # NO_PROXY: "{{ no_proxy }}"

- name: Create Longhorn LimitRange
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: LimitRange
      metadata:
        name: longhorn-limits
        namespace: "{{ longhorn_namespace }}"
      spec:
        limits:
          - defaultRequest:
              memory: 128Mi
              cpu: 50m
            type: Container
    state: present

- name: Install Longhorn
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    chart_version: "{{ longhorn_helm_chart_version }}"
    release_namespace: "{{ longhorn_namespace }}"
    values:
      persistence:
        defaultDataLocality: "best-effort"
      longhornDriver:
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
      defaultBackupStore:
        backupTarget: s3://coffee-longhorn-backups@us-west-2/{{ cluster_name }}-k3s
        backupTargetCredentialSecret: "{{ cluster_name }}-longhorn-aws-secret"
        pollInterval: 300
      service:
        ui:
          type: LoadBalancer
          annotations:
            metallb.universe.tf/allow-shared-ip: longhorn
            metallb.universe.tf/loadBalancerIPs: "{{ longhorn_ip }}"
  run_once: true
