---
- name: Update cache
  ansible.builtin.package:
    update_cache: true

- name: Perform safe upgrade
  ansible.builtin.package:
    name: '*'
    state: latest

- name: Perform auto-remove
  ansible.builtin.package:
    autoremove: true

- name: Check if docker sock exists
  ansible.builtin.stat:
    path: /var/run/docker.sock
  register: docker_status

- name: Perform docker cleanup
  when: docker_status.stat.exists
  failed_when: false
  community.docker.docker_prune:
    builder_cache_all: true
    containers: true
    images: true
    networks: true
    volumes: true

- name: Perform k3s cleanup
  changed_when: false
  ansible.builtin.command: /usr/local/bin/crictl rmi --prune

- name: Check if /var/run/reboot-required exists
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Reboot if required
  when: reboot_required.stat.exists
  vars:
    node: "{{ ansible_hostname }}"
  environment:
    KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
  block:
    - name: Cordon node
      delegate_to: "{{ cluster_name }}-mgr01{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      ansible.builtin.command: /usr/local/bin/kubectl drain "{{ node }}" --ignore-daemonsets --delete-emptydir-data --timeout=0
      changed_when: true

    - name: Reboot
      ansible.builtin.reboot:
        msg: "[ANSIBLE] Rolling restart"
        post_reboot_delay: 60

    - name: Wait for all k8s nodes to be ready
      environment:
        KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
      delegate_to: "{{ cluster_name }}-mgr{{ '02' if 'mgr01' in ansible_hostname else '01' }}{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      ansible.builtin.command: /usr/local/bin/kubectl wait --for=condition=Ready nodes --all --timeout=30s
      changed_when: false
      retries: 50
      delay: 15

    - name: Uncordon node
      delegate_to: "{{ cluster_name }}-mgr{{ '02' if 'mgr01' in ansible_hostname else '01' }}{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      environment:
        KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
      ansible.builtin.command: /usr/local/bin/kubectl uncordon "{{ node }}"
      changed_when: true
