crds:
  enabled: true
replicaCount: {{ cert_manager_replicas | default(2) }}
dns01RecursiveNameservers: '1.1.1.1:53,1.0.0.1:53'
extraEnv:
  - name: HTTP_PROXY
    value: "{{ http_proxy | default('') }}"
  - name: HTTPS_PROXY
    value: "{{ https_proxy | default('') }}"
  - name: NO_PROXY
    value: "{{ no_proxy | default('') }}"
resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 200m
    memory: 128Mi
nodeSelector:
  kubernetes.io/os: linux
  node-role.kubernetes.io/control-plane: "true"
webhook:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 64Mi
  nodeSelector:
    kubernetes.io/os: linux
    node-role.kubernetes.io/control-plane: "true"
cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 64Mi
  nodeSelector:
    kubernetes.io/os: linux
    node-role.kubernetes.io/control-plane: "true"
startupapicheck:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
  nodeSelector:
    kubernetes.io/os: linux
    node-role.kubernetes.io/control-plane: "true"