---
- name: Rolling restart
  vars:
    node: "{{ ansible_hostname }}"
  block:
    - name: Cordon node
      delegate_to: "{{ cluster_name }}-mgr01{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      ansible.builtin.command: kubectl drain "{{ node }}" --ignore-daemonsets --delete-emptydir-data --timeout=0
      changed_when: true

    - name: Reboot
      ansible.builtin.reboot:
        msg: "[ANSIBLE] Rolling restart"
        post_reboot_delay: 60

    - name: Wait for all k8s nodes to be ready
      environment:
        KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
      delegate_to: "{{ cluster_name }}-mgr{{ '02' if 'mgr01' in ansible_hostname else '01' }}{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      ansible.builtin.command: kubectl wait --for=condition=Ready nodes --all --timeout=30s
      changed_when: false
      retries: 50
      delay: 15

    - name: Uncordon node
      delegate_to: "{{ cluster_name }}-mgr{{ '02' if 'mgr01' in ansible_hostname else '01' }}{{ 'pl' if cluster_name == 'game' else 'vl' }}"
      environment:
        KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
      ansible.builtin.command: kubectl uncordon "{{ node }}"
      changed_when: true
