---
- name: Add Prometheus Helm Charts
  kubernetes.core.helm_repository:
    name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
    force_update: true
    state: present

- name: Create Monitoring namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: monitoring

- name: Create AlertManager Secrets
  no_log: true
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ discord_webhooks_secret_name }}"
        namespace: monitoring
      type: Opaque
      stringData:
        sev1: "{{ discord_webhooks.sev1 }}"
        sev2: "{{ discord_webhooks.sev2 }}"
        sev3: "{{ discord_webhooks.sev3 }}"

- name: Create Monitoring LimitRange
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: LimitRange
      metadata:
        name: monitoring-limits
        namespace: monitoring
      spec:
        limits:
          - default:
              memory: 256Mi
              cpu: 500m
            defaultRequest:
              memory: 128Mi
              cpu: 100m
            type: Container

- name: Create temporary values file
  ansible.builtin.tempfile:
    suffix: '.yml'
  register: prometheus_values_file

- name: Template Prometheus values file
  ansible.builtin.template:
    src: "templates/overrides.prometheus.j2"
    dest: "{{ prometheus_values_file.path }}"

- name: Create temporary alerts file
  ansible.builtin.tempfile:
    suffix: '.yaml'
  register: prometheus_alerts_file

- name: Copy Prometheus alerts file
  ansible.builtin.copy:
    src: "files/alerts.prometheus.yaml"
    dest: "{{ prometheus_alerts_file.path }}"

- name: Deploy Prometheus
  kubernetes.core.helm:
    name: prometheus
    chart_ref: prometheus-community/prometheus
    chart_version: "{{ prometheus_helm_chart_version }}"
    release_namespace: monitoring
    release_name: prometheus
    state: present
    values_files:
      - "{{ prometheus_values_file.path }}"
      - "{{ prometheus_alerts_file.path }}"

- name: Deploy Game Server Prometheus
  when: cluster_name == 'game'
  block:
    - name: Create temporary Game values file
      ansible.builtin.tempfile:
        suffix: '.yml'
      register: prometheus_game_values_file

    - name: Template Game values file
      ansible.builtin.template:
        src: "templates/overrides.game-prometheus.j2"
        dest: "{{ prometheus_game_values_file.path }}"

    - name: Deploy Game Prometheus
      kubernetes.core.helm:
        name: game-prometheus
        chart_ref: prometheus-community/prometheus
        release_namespace: monitoring
        release_name: game-prometheus
        state: present
        values_files:
          - "{{ prometheus_game_values_file.path }}"
