---
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 16Mi

config:
  outputs: |
    [OUTPUT]
        Name        loki
        Match       *  
        Host        loki-gateway.monitoring.svc.cluster.local
        port        80
        tls         off
        tls.verify  off
        Labels      agent=fluent-bit
        auto_kubernetes_labels true