---
resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 100m
    memory: 16Mi

config:
  extraFiles:
    label_map.json: |
      {
        "kubernetes": {
          "container_name": "container",
          "namespace_name": "namespace",
          "pod_name": "pod",
          "host": "node",
          "labels": {
            "app": "app",
            "app.kubernetes.io/name": "app"
          }
        }
      }
  outputs: |
    [OUTPUT]
        Name                    loki
        Match                   *  
        Host                    loki-gateway.monitoring.svc.cluster.local
        port                    80
        tls                     off
        tls.verify              off
        Log_Level               info
        Labels                  agent=fluent-bit
        Label_Map_Path          /fluent-bit/etc/label_map.json