additionalArguments:
  - --tcpserverstransport.tls.insecureskipverify
additionalVolumeMounts:
  - name: localtime
    mountPath: /etc/localtime
    readOnly: true
  - name: logs
    mountPath: /var/log/traefik
deployment:
  replicas: {{ traefik_replicas | default(3) }}
  labels:
    app: traefik
  additionalVolumes:
    - name: localtime
      hostPath:
        path: /etc/localtime
    - name: logs
      emptyDir: {}
ingressRoute:
  dashboard:
    enabled: true
  healthcheck:
    enabled: true
updateStrategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app
              operator: In
              values:
                - traefik
        topologyKey: kubernetes.io/hostname
logs:
  general:
    noColor: true
  access:
    enabled: true
    filePath: /var/log/traefik/access.log
    bufferingSize: 100
    fields:
      headers:
        defaultmode: redact
nodeSelector:
  kubernetes.io/role: worker
persistence:
  enabled: true
  accessMode: ReadWriteMany
ports:
  web:
    entryPoint:
      to: websecure
      scheme: https
      permanent: true
providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 1000m
    memory: 2Gi
service:
  annotations:
    metallb.universe.tf/allow-shared-ip: traefik
    metallb.universe.tf/loadBalancerIPs: "{{ ingress_ip }}"
tlsStore:
  default:
    defaultCertificate:
      secretName: traefik-local-wildcard-tls