configmapReload:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 16Mi

server:
  global:
    scrape_interval: 5s
    scrape_timeout: 3s
    evaluation_interval: 1m

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-prod
      cert-manager.io/duration: 2160h
      cert-manager.io/renew-before: 360h
    hosts:
      - {{ dns.prometheus }}
    tls:
      - secretName: prometheus-tls
        hosts:
          - {{ dns.prometheus }}

  nodeSelector:
    kubernetes.io/role: worker

  persistentVolume:
    size: 18Gi

  resources:
    limits:
      cpu: 1000m
      memory: 4Gi
    requests:
      cpu: 200m
      memory: 1Gi

  retentionSize: "14GB"

## Prometheus server ConfigMap entries for scrape_config_files
## (allows scrape configs defined in additional files)
##
scrapeConfigFiles: []

# adds additional scrape configs to prometheus.yml
# must be a string so you have to add a | after extraScrapeConfigs:
# example adds prometheus-blackbox-exporter scrape config
extraScrapeConfigs: |
  - job_name: http-node-exporter
    static_configs:
      - targets: 
        - 10.31.3.23:9100
    scheme: http

# Configuration of subcharts defined in Chart.yaml

## alertmanager sub-chart configurable values
## Please see https://github.com/prometheus-community/helm-charts/tree/main/charts/alertmanager
##
alertmanager:
  nodeSelector:
    kubernetes.io/role: "worker"
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 16Mi
  extraSecretMounts:
    - name: discord-webhooks
      mountPath: /secrets/.discord
      secretName: {{ discord_webhooks_secret_name }}
      readonly: true
  config:
    global:
      http_config:
        proxy_from_environment: true
    receivers:
      - name: 'sev-1'
        discord_configs:
          - webhook_url_file: /secrets/.discord/sev1
      - name: 'sev-2'
        discord_configs:
          - webhook_url_file: /secrets/.discord/sev2
      - name: 'sev-3'
        discord_configs:
          - webhook_url_file: /secrets/.discord/sev3
  extraEnv:
    - name: HTTP_PROXY
      value: "http://{{ internet_proxy }}"
    - name: HTTPS_PROXY
      value: "http://{{ internet_proxy }}"
    - name: FTP_PROXY
      value: "ftp://{{ internet_proxy }}"
    - name: NO_PROXY
      value: "10.0.0.0/8"

## kube-state-metrics sub-chart configurable values
## Please see https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics
##
kube-state-metrics:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 32Mi

## prometheus-node-exporter sub-chart configurable values
## Please see https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-node-exporter
##
prometheus-node-exporter:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 16Mi

## prometheus-pushgateway sub-chart configurable values
## Please see https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-pushgateway
##
prometheus-pushgateway:
  nodeSelector:
    kubernetes.io/role: "worker"
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 16Mi
